span {
    font-weight: bold;
}
/* IMG HEADER */
div {
    borer: 1px solid rgb(255, 255, 255);
}
.navbar {
    position: relative;
    top: -10px;
    margin-bottom: -17px;
}

.sfondo-header {
    background-image: url("img/header.png");
    background-repeat: no-repeat;
    background-position: center; 
    height: 85vh;
    color: white;
}
@media screen and (min-width: 1280px) {
    .sfondo-header {
        background-size: 100% auto;
    }
}
/* barra 50 anni*/
.barra {
    background-color: rgb(225, 225, 225);
    height: 25vh;
    width: 100%;
    margin: 0;
}

/* sezione 1 slider */
 .carousel-inner {
    height: 65vh;
}
.carousel-item {
    height: 100%;
} 

/*sezion 2 */
 .carousel-caption-1 {
    background-color: white;
    color: black;
    padding: 0;
    padding-top: 3px;
    margin:0;
    left: 0;
    height: 20%;
    width: 0%;
    font-weight: bold;
    visibility: hidden;
    transition: 1s;
}
.carousel-1:hover .carousel-caption-1 {
    visibility: visible;
    width: 55%;
  }
  .carousel-1:hover .txt-effect {
    visibility: visible;
  }
  .txt-effect {
    visibility: hidden;
    transition: 0.2s;
  } 
/* sezione 3 caratteristiche metallo */ 
.rounded-circle-1 {
    background-color: rgb(235, 235, 235); 
    filter: grayscale(1);
}
.rounded-circle ~ p {
    font-size: 10px;
}
/*sezione 4 con slider Ottone */
 .carousel-caption-2 {
    background-color: white;
    color: black;
    padding: 0;
    padding-top: 3px;
    margin:0;
    left: 0;
    height: 40px;
    width: 60%;
    font-weight: bold;
} 

/* sezione 5 griglia img */
.carousel-caption-3 {
    background-color: white;
    color: black;
    padding: 0;
    padding-top: 3px;
    margin:0;
    left: 0;
    height: 40px;
    width: 80%;
    font-weight: bold;
} 
.griglia-img {
    height: 60vh;
    overflow: hidden;
}
.txt-btn {
    font-size: 10px;
    margin: 0 ;
    border-radius: 0;
}
.btn-outline-dark:hover .txt-btn{
    color: white;
}

/* sezione 6 caratteristiche dell'ottone */
.rounded-circle-2 {
    background-color: rgb(207, 197, 123); 
    filter: sepia(1);
}

/* sezione 8 sostenibilità */
.sf-banner {
    background-color: rgb(20, 20, 20);
    width: 100%;
    margin: 0;
    height: 75vh;
    overflow: hidden;
}
.sf-banner-sost {
    background-image: url(img/sostenibilità.png);
    background-position: inherit;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.testo {
    padding-left: 16%;
    padding-right: 10%;
    line-height: 2;
}
.bollino {
    background-image: url(img/ecovadis.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: -45%;
    left: 105%;
    width: 250px;
    height: 250px;
}

/* footer */
.barra-ft {
    background-color: #1d1d1d;
    color:white;
    width: 100%;
    margin: 0;
}
.ft-txt {
    color: rgb(205, 204, 204);
}
.ft-txt:hover {
    color:white;
}
.icon-ft {
    width: 22px;
    height: 22px;
}